# Project exclude paths
/target/
/out/

/src/main/org/middleware/project/App.java

/src/main/org/middleware/project/topology/AtomicStage.java

src/*/StatelessAtomicStage.java
src/**/App.java
src/**/AtomicStage.java
src/**/StatefulAtomicStage.java
/src/main/org/middleware/project/topology/StatefulAtomicStage.java